.formContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerGDates{
    display: flex;
    justify-content: space-between;
}
.containerGDates input {
    width: 49%;
}
.inputs {
    border-color: #49B5EB;;
    padding: 10px;
}

.containerInput {
    margin-bottom: 4%;
}
.select {
    width: 100%;
    display: flex;
    justify-content: center ;
}

.selectInput {
    width: 50%;
}

.button {
    margin-top: 7%;
    width: 100% !important;
    display: flex;
    justify-content: center;
}

.buttonI {
    margin-right: 10px;
    font-size: 20px;
    padding: 10px 15px;
    width: 200px;
}

.izquierda{
    background-color: #4058F5;
    height: 100vh;
    width: 50%;
    /* margin-top: -10px; */
    /* margin-left: -15px; */
}
.derecha{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    align-items: center;
 }
.divisor{

    display: flex;
}
#h1A{
    margin-left: 100px;
    margin-top: 2%;
    font-size: 48px;

    color: white;

    font-style: normal;
    font-weight: 600;
    line-height: 58px;
}
#h2A{
    margin-top: 70px;
    margin-left: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: white;
}
.Img-A{
    margin-top: 15%;
    margin-left: 100px;
    width: 35%;
    height: 50%;
}
#h1R{
    margin-top: 100px;
    font-size: 48px;
    text-align: center;

    font-style: normal;
    font-weight: 600;
    line-height: 58px;
}
#sect{
    /* margin: 0 auto 0 15%; */
    width: 85%;
    height: 40%;

}

.inp{
    display: flex;
}
.nombres{
    width: 50%;
    height: 120%;

    margin-right: 10px;
    border-color: #49B5EB;
}
.apellidos{
    width: 50%;
    height: 120%;
    border-color: #49B5EB;
}
.inputsL{
    margin-top: 15px;
    width: 100%;
    height: 90%;
    border-color: #49B5EB;
}
.p{
    margin: 0 auto 0 29%;
}
.btn-cl{
    width: 30%;
    height: 20%;
    font-size: 28px;
    margin-left: 28%;
    margin-top: 10%;
    align-content: center;
    color: white;
    background-color: #3776D4;
}
.Img-GC{
    margin-top: 15%;
    margin-left: 100px;
    width: 65%;
    height: 55%;
}
.select-T{
    margin-top: 15px;
    width: 100%;
    height: 90%;
    border-color: #49B5EB;
}
.select-T{

    margin: 15px auto;
    width: 50%;
    height: 80%;
    border-color: #49B5EB;
}
.Img-R{
    margin-top: 15%;
    margin-left: 100px;
    width: 70%;
    height: 40%;

}